<div class="row bar-header full-bg">
  <div class="col-sm-12 col-md-12">
    <div class="has-limit">
      <% flash.each do |key, value| %>
      <div id="error_explanation"><%= value %></div>
      <% end %>
      <h2>Help</h2>
    </div>
  </div>
</div>
<div class="group-contents">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="has-limit">
        <p>For all support related items please contact: <a href="mailto:admin@illcreative.com">admin@illcreative.com</a></p>
      </div>
    </div>
  </div>
</div>
