<div class="row bar-header full-bg">
  <div class="col-sm-12 col-md-12">
    <div class="has-limit">
      <% flash.each do |key, value| %>
      <div id="error_explanation"><%= value %></div>
      <% end %>
      <h2>Editing Customer</h2>
      <%= link_to 'All Customers', customers_path %>
    </div>
  </div>
</div>
<div class="layout row">
  <%= render 'form' %>
</div>
