<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container-fluid">
<a class="brand pjax" href="/admin/">
<%= image_tag("app_icon") %>
</a>
<div class="nav-collapse">
<ul class="nav pull-right">
<li><a href="/admin/admin/4/edit">admin@illcreative.com</a></li>
<li class="log-out-btn"><a href="/admins/sign_out" data-method="get"><span class="label label-important">Log out</span></a></li>
</ul>

</div>
</div>
</div>
</div>

