<% flash.each do |key, value| %>
<div id="error_explanation" class="row notice"><%= value %></div>
<% end %>
<div class="row bar-header full-bg">
  <div class="col-sm-12 col-md-12">
    <div class="has-limit">
      <h2>Regimens</h2>
      <%= link_to '+ New Regimen', new_regimen_path %>
    </div>
  </div>
</div>
<div class="layout row">
  <%= render :partial => 'regimens/list', :locals => {:regimens => @regimens} %>
</div>
